<%- include("templates/head",{ruta:'/css/ejemplos.css',title:'Ejemplos',loggin:login}) %>

<% for(let i=0;i<data.length;i++){%>
<div class="contenedor">   
    <section class="EjemploCodigo">
        <table>
            <tbody>
                <tr>
                    <td class="titulo"><strong> Tema: <%=data[i].nombre_ejemplo;%></strong></td>
                </tr>
                <tr>
                    <td>
                        <div class="ejem">Codigo Ejemplo:</div>
                        <div class="contCodigo">
                            <a href="<%=data[i].url_post;%>" target="_blank">                                
                                 <img src="<%=data[i].url_imagen;%>">                             
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="boton"><a class="btn" href="<%=data[i].url_compilador;%>" target="_blank">Ejecutar</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<%}%>
<%- include("templates/footer") %>