<!--Formulario de llenado-->
<%- include("templates/head",{ruta:'/css/foro.css',title:'Foro phpfordevs'}) %>

<!--Captura los valores por medio de una lista ordenada-->
<div class="mainforum">
    <div class="forum">
    <form method="post" class="formforo">
        <h1 class="titfo">Agrega un Foro</h1>
        Autor: <input type="text" placeholder="Autor" class="formatinput" id="author" name="author">        
        Titulo: <input type="text" placeholder="Titulo"class="formatinput" id="Titulo" name="Titulo">
        Descripcion: <input type="text" placeholder="Descripcion" class="formatinput" id="contenido" name="contenido">
        <button type="submit" class="btnForo">Agregar Foro</button>  
    </form>
</div>
</div>


<% for(let i=0; i<data.length;i++){ %>
 <div class="ForosPrueba">
   <div class="Foros">
       <div>Tema: <%= data[i].titforo%></div>
       <div>Descripcion: <%= data[i].descripcion%></div>
       <div>Creador del foro: <%= data[i].user_foro%></div>
       <div>Fecha de Creacion: <%=data[i].fecha_pub %></div>
       <div><a href="/foro/<%=data[i].id_foro%>">Comentarios</a></div>
   </div>
</div>
   <% } %>

 

<!--
<script src="dato.js"></script>
<script src="recuperar.js"></script> -->

<%- include("templates/footer") %>