<!--Formulario de llenado-->

<h1>Inicio del foro</h1>
<!--Captura los valores por medio de una lista ordenada-->
<div class="main">
    <form action="/foroadd" method="POST">
        Autor: <input type="text" placeholder="Autor" id="author" name="autor">        
        Titulo <input type="text" placeholder="Titulo" id="Titulo" name="title">
        Descripcion <input type="text" placeholder="Descripcion" id="contenido" name="descripcion">
     </form>
     <button type="submit" id="agregarthead">Agregar</button>
     <!--<%=data[0].title%>-->

     <% for(let i=0; i<data.length;i++){ %>
        <p><%= data[i].descripcion%></p>
        <p><%= data[i].titforo%></p>
        <p><%= data[i].user_foro%></p>
        <a href="/foro/<%=data[i].id_foro%>">Comentarios</a>
    <% } %>

     
    <div class="contenedor"></div>
    <div class="agregarforo"></div>
    
    <ol></ol>
</div>

<!--
<script src="dato.js"></script>
<script src="recuperar.js"></script>
-->