<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
     <!--SEO-->
  <meta name="author" content="Miguel Angel Amaya Rodriguez" />
  <meta name="author" content="Christian Javier Ayala Guerra" />
  <meta name="author" content="Diego José Ayala Guerra" />
  <meta name="author" content="Luis Alonso Cornejo Jiménez" />
  <meta name="author" content="Carolina Isabel Pineda Delgado" />
  <meta name="author" content="José Gustavo Pineda Delgado" />
  <meta name="author" content="William Enrique Vásquez Mancia" />
  <meta name="keywords" content="phpfordevs, php, devs,PhpForDevs, curso de php, curso gratis de php" />
  <meta name="title" content="PhpForDevs">
  <meta name="description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">
  
  <meta property="PhpForDevs_com:available" content="1">
  <meta property="PhpForDevs_com:category" content="Development">

  <meta property="og:title" content="PhpForDevs">
  <meta property="og:url" content="https://phpfordevs.herokuapp.com/">
  <meta property="og:description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">
  <meta property="og:type" content="PhpForDevs_com:course">
  <meta property="og:site_name" content="PhpForDevs">
  <meta data-react-helmet="true" property="og:locale" content="en_ES">
  <meta data-react-helmet="true" property="og:type" content="website">

  <meta name="fb:domain" content="https://www.heroku.com/">
  <meta name="fb:title" content="PhpForDevs">
  <meta name="fb:url" content="https://phpfordevs.herokuapp.com/">
  <meta name="fb:description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">
  <meta name="fb:site" content="phpfordevs">

  <meta name="reddit:domain" content="https://www.heroku.com/">
  <meta name="reddit:title" content="PhpForDevs">
  <meta name="reddit:url" content="https://phpfordevs.herokuapp.com/">
  <meta name="reddit:description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">
  <meta name="reddit:site" content="phpfordevs">

  <meta name="instagram:domain" content="https://www.heroku.com/">
  <meta name="instagram:title" content="PhpForDevs">
  <meta name="instagram:url" content="https://phpfordevs.herokuapp.com/">
  <meta name="instagram:description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">
  <meta name="instagram:site" content="phpfordevs">

  <meta itemprop="name" content="PhpForDevs">
  <meta itemprop="url" content="https://phpfordevs.herokuapp.com/">
  <meta itemprop="description" content="Aprende PHP en phpfordevs de manera fácil y rápida para el desarrollo de sitios web, aplicaciones y más!">

    <!--STYLE-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="shortcut icon" href="/img/icono.jpg">
</head>

<body>
    <div class="pos">
        <div class="loginform">
            <!--Inicio de Sesion-->
            <h1>Iniciar Sesión</h1>
            <form action="/auth" method="POST">
                <input type="text" name="user" id="user" placeholder="Usuario"><br>
                <input type="password" name="pass" id="pass" placeholder="Constraseña"><br>

                <p> <button type="submit" class="btnIniciar">Iniciar Sesión</button> <br> </p>

            </form>
            <!--En caso de registro-->
            <p><button class="btnRegistrar"><a href="/register">Registrate!</a></button></p>

        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ){%>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%>,
                timer: <%= time %>

            }).then(() => {
                    window.location = '/<%=ruta%>'
                })

        </script>
        <%}%>
</body>

</html>