<%- include("templates/head",{ruta:'/css/foro.css',title:'Titulo Foro'}) %>

    <div class="top-bar">
        <h1><%=foro[0].titforo%></h1>
        <h2><%=foro[0].descripcion%></h2>
        <h3>Publicado por: <%=foro[0].user_foro%></h3>
    </div>

    <div class="maincomment">
        <div class="comments">
            <% if(login !=undefined ){%>
            <form method="post" class="formcomment">
                <label>Comentario:</label><textarea type="text" placeholder="Comentario" id="comment" name="comment"
                class="formatextarea"></textarea>
                <button type="submit" class="btnComment">Comentar</button>
            </form>
            <%}%>
        </div>
    </div>

    <% for(let i=0; i<data.length;i++){ %>
        <div class="seccioncomentarios">
            <div class="mensajes">
                <div class="contentmessage"><p>Autor: <%= users[i][0].username%></p></div>
                <div class="contentmessage"><p>Fecha de publicacion: <%= data[i].fecha_coment%></p></div>
                <div class="contentmessage"><p>Respuesta: <%= data[i].descripcion_res%></p></div>
                <div class="contentmessage"><i class="far fa-thumbs-up"></i><%= data[i].ayuda%></div>
            </div>
        </div>
        <% } %>

<%- include("templates/footer") %>