<%- include("templates/head",{ruta:"/css/watchvideo.css",title:video[0].titulo,login:login})%>

    <div class="container-watch">
        <div class="navcontent flex">
            <aside class="sidebar-videos">

                <ul class="nav-links">
                    <%for(let i=0 ; i< lista.length;i++){%>
                        <li class="flex">
                            <a href="/cursos/<%=lista[i].id_curso%>/videos/<%=lista[i].cod%>" class="flex">
                                <i class="fas fa-play-circle fa-3x"></i>
                                <strong class="title">
                                    <%=lista[i].cod%>.<%=lista[i].titulo%>
                                </strong>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </aside>
            <section class="home-section">
                <div class="home-content"><i class="fas fa-bars"></i></div>
            </section>

        </div>
        <div class="video flex">
            <div class="watch">
                <iframe width="720" height="450" src="<%= video[0].url %>" title="YouTube video player" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <div class="video-info">
                <h1 class="videotitle">
                    <%= video[0].titulo %>
                </h1>
                <p>
                    <%= video[0].descripcion_video%>
                </p>
                <div class="likes">
                    <%if(login !=undefined){%>
                        <%if(videoLike==true){%>

                            <form
                                action="/cursos/<%=video[0].id_curso%>/videos/<%=video[0].cod%>/unlike/<%=actualUser%>"
                                method="post">
                                <button type="submit" class="nomegusta">No me gusta <i class="far fa-thumbs-up"></i>
                                    <%= video[0].likes%>
                                </button>
                            </form>
                            <%}else{%>

                                <form
                                    action="/cursos/<%=video[0].id_curso%>/videos/<%=video[0].cod%>/like/<%=actualUser%>"
                                    method="post">
                                    <button type="submit" class="megusta">Me gusta <i class="far fa-thumbs-up"></i>
                                        <%= video[0].likes%>
                                    </button>
                                </form>
                                <%}%>
                                    <%}else{%>

                                        <a href="/login" class="megusta">Me gusta <i class="far fa-thumbs-up"></i>
                                            <%= video[0].likes%>
                                        </a>
                                        <%}%>
                </div>
            </div>
            <div class="comentaries flex">
                <div class="publication">
                    <% if(login !=undefined ){%>
                        <form action="/cursos/<%=video[0].id_curso%>/videos/<%=video[0].cod%>" method="post"
                            class="formcomment flex">
                            <label>Comentario:</label><textarea type="text" placeholder="Comentario" id="comment"
                                name="comment" class="formatextarea" maxlength="250"></textarea>
                            <label id="area-error">ERROR NO PUEDE ESCRIBIR MAS DE 250 CARACTERES</label>
                            <button type="submit" class="btnComment">Comentar</button>
                        </form>
                        <%}else{%>
                            <p>Si quieres interactuar en <%=video[0].titulo%>
                                    <a href="/register">registrate!</a> o </p>
                            <p>Si ya tienes una cuenta <a href="/login">Inicia Sesión</a></p>
                            <%}%>
                </div>
                <div class="allcomments flex">
                    <%for(let i=0;i<comments.length;i++){%>
                        <div class="comment-user flex">
                            <div class="inforcomment">
                                <strong class="user">
                                    <%=users[i][0].username%>
                                </strong> - <p>
                                    <%=comments[i].date_comment%>
                                </p>
                            </div>
                            <p class="comentarie">
                                <%=comments[i].opinion%>
                            </p>
                            <div class="likes">
                                <%if(login !=undefined){%>
                                    <%if(commentsLikes[i]==true){%>

                                        <form
                                            action="/cursos/<%=video[0].id_curso%>/videos/<%=video[0].cod%>/unlike/<%=comments[i].id_coment%>/<%=actualUser%>"
                                            method="post">
                                            <button type="submit" class="nomegusta">No me gusta <i
                                                    class="far fa-thumbs-up"></i>
                                                <%= comments[i].megusta%>
                                            </button>
                                        </form>
                                        <%}else{%>
                                            <form
                                                action="/cursos/<%=video[0].id_curso%>/videos/<%=video[0].cod%>/like/<%=comments[i].id_coment%>/<%=actualUser%>"
                                                method="post">
                                                <button type="submit" class="megusta">Me gusta <i
                                                        class="far fa-thumbs-up"></i>
                                                    <%= comments[i].megusta%>
                                                </button>
                                            </form>
                                            <%}%>
                                                <%}else{%>
                                                    <a href="/login" class="megusta">Me gusta <i
                                                            class="far fa-thumbs-up"></i>
                                                        <%= video[0].likes%>
                                                    </a>
                                                    <%}%>
                            </div>
                        </div>

                        <%}%>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/videolist.js"></script>
    <%- include("templates/footer") %>