<%- include("templates/head",{ruta:"/css/videos.css",title:curso[0].titulo_curso,login:login}) %>
    <div class="container-curso">
        <div class="infocurso">
            <h1>
                <%=curso[0].contenido%>
            </h1>
        </div>
        <div class="lista-videos">
            <% for(let i=0; i<data.length;i++){%>
                <div class="videoseccion">
                    <a href="/cursos/<%= data[i].id_curso %>/videos/<%= data[i].cod %>" class="videoenlace">
                        <div class="icon">
                            <i class="fas fa-play-circle fa-5x"></i>
                        </div>
                        <div class="videoinfo">
                            <strong class="title">
                                <%=data[i].cod%>.<%= data[i].titulo %>
                            </strong>
                            <p class="descripcion">
                                <%= data[i].descripcion_video%>
                            </p>
                            <div class="videoapoyo">
                                <div class="likes">
                                    <p class="tipo">Likes</p>
                                    <div class="valor"><i class="far fa-thumbs-up"></i>
                                        <%=data[i].likes%>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <% } %>
        </div>
    </div>
    <%- include("templates/footer") %>